.dashboard-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.sidebar {
  width: 250px;
  background: #FFFFFF;
  color: #222222;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 2px 0 20px rgba(0,0,0,0.06);
  border-right: 1px solid rgba(0,0,0,0.07);
}
.logo {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
}
.main-content {
  background-color: #F7F7F7;
  overflow-y: auto;
}