/* Signup page styles moved from Signup.tsx */
.signup-root {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.signup-bg {
  flex: 1;
  background-image: url('../../assets/AuthBG.jpg');
  background-size: cover;
  background-position: center;
}

.signup-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.signup-paper {
  padding: 32px;
  width: 80%;
  max-width: 500px;
}

.signup-grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.signup-grid-row {
  display: flex;
  gap: 2vh;
}
.signup-grid-row:not(:first-child) {
  flex-direction: column;
  gap: 0;
}

.signup-btn {
  margin-top: 24px;
}

.signup-link {
  margin-top: 16px;
}

.signup-button-stack {
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  margin-top: 8px; /* Slightly reduced */
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s;
}
